/*instrucciones generales*/
* { margin: auto; }

h1 { text-align: center; padding: 0.5em; }

#calendario { border: 8px solid black  ; max-width: 700px; 
              background-color:#fffafa; text-align: center; }

#diasc { border: 1px solid black; border-collapse: 
         separate; border-spacing: 4px; }
#diasc th,#diasc td { font: normal 14pt arial; width: 70px; height: 30px; }
#diasc th { color: #E7E9EC; background-color: #0640E1 }
#diasc td { color: ##CECECE; background-color: #CECECE }


#fechaactual { font: bold 12pt arial; padding: 0.4em }
#fechaactual i { cursor: pointer ; }
#fechaactual i:hover { color: blue; text-decoration: underline; }

#buscafecha { background-color: #3E548E; color: #9bf5ff; padding: 5px }
#buscafecha select, #buscafecha input  { background-color: #9bf5ff; 
            color: #3E548E; font: bold 10pt arial;  }
#buscafecha [type=text]  { text-align: center; }

#buscafecha  [type=button] { cursor: pointer; }

             